<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Projeto de robótica - interface</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
        <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.min.css">
        <link rel="stylesheet" href="bower_components/angular-ui-switch/angular-ui-switch.min.css">
        <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
        <link rel="stylesheet" href="bower_components/load-awesome/css/pacman.min.css">
    </head>
    <body ng-app="piInterfaceApp">
        <div class="container" ng-controller="mainController">
            <div class="row">
                <h2 class="page-header">Controle do braço</h2>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <plotly plotly-data="data" plotly-layout="layout" plotly-options="options"></plotly>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <p class="panel-title text-center">Controle</p>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label>
                                        <strong>Angulo A</strong>
                                    </label>
                                    <rzslider rz-slider-options="optionA" rz-slider-model="slider.angulo_a"></rzslider>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <strong>Angulo B</strong>
                                    </label>
                                    <rzslider rz-slider-options="optionB" rz-slider-model="slider.angulo_b"></rzslider>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <strong>Angulo C</strong>
                                    </label>
                                    <rzslider rz-slider-options="optionC" rz-slider-model="slider.angulo_c"></rzslider>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <strong>Pinça</strong>
                                    </label>
                                    <br>
                                    <switch on="Close" off="Open" ng-model="slider.claw" class="green"></switch>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer">
                            <button ng-disabled="!validateStates()" ng-click="addPoint()" class="btn btn-primary">Adicionar</button>
                            <button ng-disabled="!validateStates()" ng-click="sendCode()" ng-disabled="states.length <= 0" class="btn btn-success">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 well well-sm" style="min-height: 320px; max-height: 320px; overflow-x: auto; overflow-y: hidden; white-space: nowrap;">
                    <button class="btn btn-warning pull-right" ng-click="clearStates()">Limpar</button>
                    <h3 class="header">
                        Lista de estados
                    </h3>
                    <div class="panel" ng-class="{ 'panel-default': !state.selected, 'panel-primary': state.selected}" ng-repeat="state in states" style="max-width: 200px; margin: 10px 10px; display: inline-block; float: none;">
                        <div class="panel-heading">
                            <p> Estado {{ $index + 1 }} </p>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Angulo a: {{ state.angulo_a }}</li>
                                <li>Angulo b: {{ state.angulo_b }}</li>
                                <li>Angulo c: {{ state.angulo_c }}</li>
                                <li>Garra: {{ state.claw ? 'Aberta' : 'Fechada'}}</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <button class='btn btn-danger' ng-disabled="!validateStates()" ng-click="removeState($index)">Remover</button>&nbsp;
                            <button class='btn btn-primary' ng-disabled="!validateStates() && !state.selected" ng-click="toggleState($index)">Set</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/ng-template" id="loading.html">
           <div class="modal-header">
               <h3 class="modal-title">LOADING</h3>
           </div>
           <div class="modal-body row">
               <div class="col-lg-offset-5 col-lg-1">
                   <div class="la-pacman la-dark la-2x">
                       <div></div>
                       <div></div>
                       <div></div>
                       <div></div>
                       <div></div>
                       <div></div>
                   </div>
               </div>
           </div>
        </script>

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
        <script src="bower_components/angular-ui-switch/angular-ui-switch.min.js"></script>
        <script src="bower_components/plotly.js/dist/plotly.min.js"></script>
        <script src="bower_components/angular-plotly/src/angular-plotly.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/app.constants.js"></script>
        <script src="app/resource/Server.js"></script>
        <script src="app/controller/main.controller.js"></script>
    </body>
</html>
